<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminBuildingBindMapper">
    <select id="selectNamesByCode" resultType="string">
        SELECT username
        FROM admin_building_bind
        WHERE user_type = 1
          and build_code = #{buildcode,jdbcType=VARCHAR}
    </select>
</mapper>