<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biocome.platform.admin.mapper.DeviceMapper">

    <resultMap id="BaseResultMap" type="Device">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="estatecode" jdbcType="VARCHAR" property="estatecode"/>
        <result column="buildcode" jdbcType="VARCHAR" property="buildcode"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="device_type" jdbcType="VARCHAR" property="deviceType"/>
        <result column="brand" jdbcType="VARCHAR" property="brand"/>
        <result column="secretkey" jdbcType="VARCHAR" property="secretkey"/>
        <result column="mac" jdbcType="VARCHAR" property="mac"/>
        <result column="series_number" jdbcType="VARCHAR" property="seriesNumber"/>
        <result column="c_number1" jdbcType="VARCHAR" property="camera1"/>
        <result column="c_number2" jdbcType="VARCHAR" property="camera2"/>
        <result column="c_number3" jdbcType="VARCHAR" property="camera3"/>
        <result column="buildname" jdbcType="VARCHAR" property="buildName"/>
        <result column="estatename" jdbcType="VARCHAR" property="estateName"/>
    </resultMap>

    <resultMap id="DeviceInfoRespMap" type="DeviceInfoResp">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="estatecode" jdbcType="VARCHAR" property="estatecode"/>
        <result column="buildcode" jdbcType="VARCHAR" property="buildcode"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="device_type" jdbcType="VARCHAR" property="deviceType"/>
        <result column="brandcode" jdbcType="VARCHAR" property="brandcode"/>
        <result column="brand" jdbcType="VARCHAR" property="brand"/>
        <result column="secretkey" jdbcType="VARCHAR" property="secretkey"/>
        <result column="mac" jdbcType="VARCHAR" property="mac"/>
        <result column="series_number" jdbcType="VARCHAR" property="seriesNumber"/>
        <result column="c_number1" jdbcType="VARCHAR" property="camera1"/>
        <result column="c_number2" jdbcType="VARCHAR" property="camera2"/>
        <result column="c_number3" jdbcType="VARCHAR" property="camera3"/>
        <result column="buildname" jdbcType="VARCHAR" property="buildName"/>
        <result column="estatename" jdbcType="VARCHAR" property="estateName"/>
    </resultMap>

    <select id="selectByDevice" resultMap="DeviceInfoRespMap"
            parameterType="DeviceInfoResp">
        SELECT
        d.id,
        d.sn,
        d.device_name,
        d.estatecode,
        d.buildcode,
        d.ip,
        d.device_type,
        d.brand brandcode,
        bd.dict_value brand,
        d.mac,
        d.series_number
        FROM
        base_device d
        LEFT JOIN
        base_dict_detail bd ON bd.dict_key = d.brand
        WHERE
        bd.dict_code = #{device.dictCode,jdbcType=INTEGER}
        <if test="device.id != null and '' != device.id">and d.id= #{device.id,jdbcType=INTEGER}</if>
        <if test="device.sn != null and '' != device.sn">and d.sn= #{device.sn,jdbcType=VARCHAR}</if>
        <if test="device.deviceName != null and '' != device.deviceName">and d.device_name=
            #{device.deviceName,jdbcType=VARCHAR}
        </if>
        <if test="device.estatecode != null and '' != device.estatecode">and d.estatecode=
            #{device.estatecode,jdbcType=VARCHAR}
        </if>
        <if test="device.buildcode != null and '' != device.buildcode">and d.buildcode=
            #{device.buildcode,jdbcType=VARCHAR}
        </if>
        <if test="device.ip != null and '' != device.ip">and d.ip= #{device.ip,jdbcType=VARCHAR}</if>
    </select>

    <select id="selectSnAndCardByBuildCodes" resultMap="BaseResultMap">
        SELECT sn ,brand FROM base_device WHERE buildcode
        IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>
</mapper>