<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biocome.platform.guard.mapper.EstateMapper">

    <resultMap id="TreeEstateVoMap" type="com.biocome.platform.guard.vo.tree.TreeDistrictVO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="estatecode" jdbcType="VARCHAR" property="code"/>
        <result column="estatename" jdbcType="VARCHAR" property="name"/>
        <result column="areacode" jdbcType="VARCHAR" property="parentcode"/>
        <result column="countbuild" jdbcType="VARCHAR" property="countbuild"/>
        <result column="countdevice" jdbcType="VARCHAR" property="countdevice"/>
    </resultMap>


    <!--根据所属行政区划代码查询所有小区，构建树-->
    <select id="selectByTree" resultMap="TreeEstateVoMap">
        SELECT e.id,
               e.estatecode,
               e.estatename,
               e.areacode,
               (select count(1) from base_build where estatecode = e.estatecode)  as countbuild,
               (select count(1) from base_device where estatecode = e.estatecode) as countdevice
        FROM base_estate e
        WHERE areacode = #{areacode,jdbcType=VARCHAR}
    </select>
</mapper>