<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biocome.platform.admin.mapper.AdminBuildingBindMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.biocome.platform.admin.entity.AdminBuildingBind" id="adminBuildingBindMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="usercode" column="usercode"/>
        <result property="userType" column="user_type"/>
        <result property="comunityCode" column="comunity_code"/>
        <result property="comunityName" column="comunity_name"/>
        <result property="buildCode" column="build_code"/>
        <result property="buildName" column="build_name"/>
        <result property="phone" column="phone"/>
        <result property="defaultPhoneOpen" column="default_phone_open"/>
    </resultMap>

    <resultMap type="com.biocome.platform.admin.vo.admin.AdminSummaryVo" id="adminResultMap">
        <result property="adminId" column="adminId"/>
        <result property="username" column="username"/>
        <result property="gendar" column="gendar"/>
        <result property="landlordtype" column="landlordtype"/>
        <result property="tel" column="tel"/>
        <result property="authName" column="authName"/>
        <result property="cards" column="cards"/>
        <result property="cardsNum" column="cardsNum"/>
        <result property="buildingNum" column="buildingNum"/>
        <result property="paperstype" column="paperstype"/>
        <result property="papersnum" column="papersnum"/>
        <result property="papersphoto" column="papersphoto"/>
        <result property="appOpen" column="appOpen"/>
        <result property="regPerson" column="regPerson"/>
    </resultMap>

    <!--    楼栋管理员列表-->
    <select id="selectAdminListOnBuilding" resultMap="adminResultMap">
            SELECT info.adminId, info.usercode, info.username, info.landlordtype,info.landlordtypename, info.tel, info.gendar, info.authName, info.paperstype,info.papersnum,info.photo,
                info.papersphoto,info.isapp AS appOpen, info.registerpeople AS regPerson, bind.num AS buildingNum
                FROM
                (
                    select id as adminId, usercode,username, tel, papersnum,photo,papersphoto, registerpeople, landlordtype,
                        case paperstype
                            WHEN 0 THEN "身份证" WHEN 1 THEN "港澳通行证"
                        end paperstype,
                        case isapp
                            WHEN 0 THEN "是" WHEN 1 THEN "否"
                        end isapp,
                        case landlordtype
                            WHEN 0 THEN "未知" WHEN 1 THEN "原房东" WHEN 2 THEN "管理员" WHEN 3 THEN "房东家属" WHEN 4 THEN "网格员"
                            WHEN 5 THEN "警务人员" WHEN 6 THEN "治安科" WHEN 72 THEN "保洁人员" WHEN 8 THEN "代管" WHEN 9 THEN "维修人员"
                            WHEN 10 THEN "申报义务人" WHEN 11 THEN "送气人员" WHEN 12 THEN "集成单位"
                        END landlordtypename ,
                        CASE usersex
                                WHEN 0 THEN "男" WHEN 1 THEN "女" WHEN 2 THEN "未知"
                        END gendar,
                        CASE adminjurisdiction
                                WHEN 0 THEN "所有权限" WHEN 1 THEN "只读权限" WHEN 2 THEN "无权限"
                        END authName
                        FROM base_landlord
                        WHERE usercode  IN (
                            SELECT usercode
                            FROM admin_building_bind WHERE build_code = #{code}
                            <if test="type != null">
                                AND user_type = #{type}
                            </if>
                        )
                ) info,
                (
                    SELECT usercode, COUNT(0) AS num FROM admin_building_bind bind WHERE usercode IN
                        (
                            SELECT usercode
                            FROM admin_building_bind WHERE build_code = #{code}
                            <if test="type != null">
                                AND user_type = #{type}
                            </if>
                        ) GROUP BY usercode
                 ) bind
                 WHERE info.usercode =  bind.usercode
    </select>

    <select id="selectBindlessBuilding" resultType="com.biocome.platform.admin.vo.admin.AdminBuildingVo">
            SELECT buildname AS buildName, buildcode as buildCode,estatename as comunityName, estatecode as comunityCode
            FROM base_build
            WHERE buildcode NOT IN
            (
                SELECT build_code FROM admin_building_bind
                WHERE usercode = #{usercode}
            )
            <if test="buildName != null and buildName.trim() != '' ">
                AND buildname like CONCAT('%',#{buildName},'%')
            </if>
            <if test="communityName != null and communityName.trim() != '' ">
                AND estatename like CONCAT('%',#{communityName},'%')
            </if>
    </select>

    <select id="adminBindBuildingList" resultType="com.biocome.platform.admin.vo.admin.AdminBuildingVo">
        SELECT id, build_name AS buildName, build_code as buildCode,comunity_name as comunityName, comunity_code as comunityCode,username, phone,
        default_phone_open as phoneOpen
        FROM admin_building_bind
        WHERE (1=1)
        <if test="usercode != null and usercode.trim() != '' ">
            AND usercode = #{usercode}
        </if>
        <if test="buildName != null and buildName.trim() != '' ">
            AND build_name like CONCAT('%',#{buildName},'%')
        </if>
        <if test="communityName != null and communityName.trim() != '' ">
            AND comunity_name like CONCAT('%',#{communityName},'%')
        </if>
        <if test="username != null and username.trim() != '' ">
            AND username like CONCAT('%',#{username},'%')
        </if>
        <if test="phone != null and phone.trim() != '' ">
            AND phone like CONCAT('%',#{phone},'%')
        </if>
    </select>

    <select id="selectByAdmin" resultMap="adminBuildingBindMap">
        SELECT `id`,`username`, `usercode`, `user_type`, `comunity_code`, `comunity_name`, `build_code`, `build_name`, `phone`, `default_phone_open`
        FROM admin_building_bind
        WHERE (1=1)
        <if test="usercode != null and usercode.trim() != '' ">
            AND usercode like CONCAT('%',#{usercode},'%')
        </if>
        <if test="buildcode != null and buildcode.trim() != '' ">
            AND build_code like CONCAT('%',#{buildcode},'%')
        </if>
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into admin_building_bind
        (`username`, `usercode`, `user_type`, `comunity_code`, `comunity_name`, `build_code`, `build_name`, `phone`, `default_phone_open`)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.username}, #{item.usercode}, #{item.userType},#{item.comunityCode},#{item.comunityName},#{item.buildCode},#{item.buildName},
            #{item.phone},#{item.defaultPhoneOpen})
        </foreach>
    </insert>

    <!--    根据id批量删除-->
    <delete id="batchDeleteByIdsAndUserCode" parameterType="java.util.List">
        delete from admin_building_bind
        where usercode = #{usercode}
        and id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="selectNamesByCode" resultType="string">
        SELECT username
        FROM admin_building_bind
        WHERE user_type = 1
          and build_code = #{buildcode,jdbcType=VARCHAR}
    </select>
</mapper>