<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biocome.platform.admin.mapper.BuildMapper">
    <resultMap id="BaseResultMap" type="com.biocome.platform.admin.entity.Build">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="buildcode" jdbcType="VARCHAR" property="buildcode"/>
        <result column="buildname" jdbcType="VARCHAR" property="buildname"/>
        <result column="buildaddress" jdbcType="VARCHAR" property="buildaddress"/>
        <result column="buildtype" jdbcType="VARCHAR" property="buildtype"/>
        <result column="buildnature" jdbcType="INTEGER" property="buildnature"/>
        <result column="estatecode" jdbcType="VARCHAR" property="estatecode"/>
        <result column="estatename" jdbcType="VARCHAR" property="estatename"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="county" jdbcType="VARCHAR" property="county"/>
        <result column="street" jdbcType="VARCHAR" property="street"/>
        <result column="policestatio" jdbcType="VARCHAR" property="policestatio"/>
        <result column="unitnum" jdbcType="VARCHAR" property="unitnum"/>
        <result column="floornum" jdbcType="VARCHAR" property="floornum"/>
        <result column="housenum" jdbcType="VARCHAR" property="housenum"/>
        <result column="islift" jdbcType="INTEGER" property="islift"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="del" jdbcType="INTEGER" property="del"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="createcode" jdbcType="VARCHAR" property="createcode"/>
        <result column="createname" jdbcType="VARCHAR" property="createname"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="updatecode" jdbcType="VARCHAR" property="updatecode"/>
        <result column="updatename" jdbcType="VARCHAR" property="updatename"/>
    </resultMap>

    <resultMap id="BuildVoMap" type="com.biocome.platform.admin.vo.syncho.BuildVo">
        <result column="buildcode" jdbcType="VARCHAR" property="buildcode"/>
        <result column="buildname" jdbcType="VARCHAR" property="buildname"/>
        <result column="estatecode" jdbcType="VARCHAR" property="estatecode"/>
        <result column="unitnum" jdbcType="VARCHAR" property="unitnum"/>
        <result column="floornum" jdbcType="VARCHAR" property="floornum"/>
        <result column="housenum" jdbcType="VARCHAR" property="housenum"/>
        <result column="islift" jdbcType="VARCHAR" property="islift"/>
    </resultMap>

    <resultMap id="TreeBuildVoMap" type="com.biocome.platform.admin.vo.tree.TreeDistrictVO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="buildcode" jdbcType="VARCHAR" property="code"/>
        <result column="buildname" jdbcType="VARCHAR" property="name"/>
        <result column="estatecode" jdbcType="VARCHAR" property="parentcode"/>
        <result column="countdevice" jdbcType="VARCHAR" property="countdevice"/>
    </resultMap>

    <!--根据楼栋名称或楼栋地址查询所有楼栋信息，查询所有时传参都为null-->
    <select id="selectByAttribute" resultMap="BaseResultMap">
        SELECT
        b.id,b.buildcode,b.buildname,b.buildaddress,b.buildtype,b.buildnature,b.estatecode,b.estatename,
        b.province,b.city,b.county,b.street,b.policestatio,b.floornum,b.islift,
        (SELECT count(u.buildcode) FROM base_unit u WHERE u.buildcode = b.buildcode) as unitnum,
        (SELECT count(h.buildcode) FROM base_house h WHERE h.buildcode = b.buildcode) as housenum,
        b.remark,b.status,b.del,b.createtime,b.createcode,b.createname,b.updatetime,b.updatecode,b.updatename
        FROM
        base_build b
        <where>
            <if test="buildaddress != null and buildaddress.trim() != ''">and b.buildaddress like concat(concat('%',
                #{buildaddress,jdbcType=VARCHAR}), '%')
            </if>
            <if test="buildname != null and buildname.trim() != ''">and b.buildname like concat(concat('%',
                #{buildname,jdbcType=VARCHAR}), '%')
            </if>
        </where>
        ORDER BY
        b.updatetime DESC
    </select>
    <!--删除方法-->
    <delete id="deleteBuild" parameterType="java.util.List">
        delete from base_build where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>

    <select id="selectByBuild" resultMap="BuildVoMap" parameterType="com.biocome.platform.admin.entity.Build">
        SELECT
        b.buildcode,b.buildname,b.estatecode,b.floornum,b.islift,
        (SELECT count(u.buildcode) FROM base_unit u WHERE u.buildcode = b.buildcode) as unitnum,
        (SELECT count(h.buildcode) FROM base_house h WHERE h.buildcode = b.buildcode) as housenum
        FROM
        base_build b
        <where>
            <if test="vo.province != null and vo.province.trim() != ''">
                and b.province = #{vo.province,jdbcType=VARCHAR}
            </if>
            <if test="vo.city != null and vo.city.trim() != ''">
                and b.city = #{vo.city,jdbcType=VARCHAR}
            </if>
            <if test="vo.county != null and vo.county.trim() != ''">
                and b.county = #{vo.county,jdbcType=VARCHAR}
            </if>
            <if test="vo.street != null and vo.street.trim() != ''">
                and b.street = #{vo.street,jdbcType=VARCHAR}
            </if>
            <if test="vo.policestatio != null and vo.policestatio.trim() != ''">
                and b.policestatio = #{vo.policestatio,jdbcType=VARCHAR}
            </if>
            <if test="vo.estatecode != null and vo.estatecode.trim() != ''">
                and b.estatecode = #{vo.estatecode,jdbcType=VARCHAR}
            </if>
            <if test="vo.buildcode != null and vo.buildcode.trim() != ''">
                and b.buildcode = #{vo.buildcode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectByTree" resultMap="TreeBuildVoMap">
        SELECT b.id, b.buildcode, b.buildname, b.estatecode,(select count(1) from base_device d where d.buildcode = b.buildcode) as countdevice
        FROM base_build b
        WHERE b.estatecode = #{estatecode,jdbcType=VARCHAR}
    </select>
    <select id="queryBuildByBuildcode" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        b.id,b.buildcode,b.buildname,b.buildaddress,b.buildtype,b.buildnature,b.estatecode,b.estatename,
        b.province,b.city,b.county,b.street,b.policestatio,b.floornum,b.islift,
        (SELECT count(u.buildcode) FROM base_unit u WHERE u.buildcode = b.buildcode) as unitnum,
        (SELECT count(h.buildcode) FROM base_house h WHERE h.buildcode = b.buildcode) as housenum,
        b.remark,b.status,b.del,b.createtime,b.createcode,b.createname,b.updatetime,b.updatecode,b.updatename
        FROM
        base_build b
        WHERE
        b.buildcode IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>