<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biocome.platform.basemanager.mapper.CameraPipelineMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.biocome.platform.basemanager.entity.CameraPipeline" id="cameraPipelineMap">
        <result property="id" column="id"/>
        <result property="channelCode" column="channel_code"/>
        <result property="serialNo" column="serial_no"/>
        <result property="channelName" column="channel_name"/>
        <result property="pointType" column="point_type"/>
        <result property="shotEncode" column="shot_encode"/>
        <result property="shotDecode" column="shot_decode"/>
        <result property="shotType" column="shot_type"/>
        <result property="lanIp" column="lan_ip"/>
        <result property="relatedSerial" column="related_serial"/>
        <result property="platformCtrl" column="platform_ctrl"/>
        <result property="cameraConnect" column="camera_connect"/>
        <result property="cameraId" column="camera_id"/>
        <result property="vcnIp" column="vcn_ip"/>
    </resultMap>

    <!--    查找管道列表-->
    <select id="selectCameraPiplineList" resultType="com.biocome.platform.basemanager.vo.camera.CameraPipelineVo">
        SELECT p.id, p.`channel_name` as  `name`,p.channel_code AS serialCode,  p.serial_no AS serialNo,  p.shot_encode AS encode,
        e.dict_value AS encodeName, p.shot_decode as decode,d.dict_value AS decodeName,  p.shot_type AS shotType, c.dict_value AS shotTypeName,c.dict_key AS `type`,
        p.related_serial AS relatedSerial,platform_ctrl AS platformCtrl,camera_connect AS cameraConnect,camera_id AS comeraId
        FROM
        (
            SELECT id, channel_code, `channel_name`, serial_no, `point_type`, shot_encode, shot_decode, shot_type, lan_ip,related_serial,
            platform_ctrl,camera_connect,camera_id
            FROM base_channel
            WHERE camera_id = #{cameraId}
            <if test="serialNo != null and serialNo.trim() != '' ">
                AND serial_no like CONCAT('%',#{serialNo},'%')
            </if>
            <if test="name != null and name.trim() != '' ">
                AND name like CONCAT('%',#{name},'%')
            </if>
        ) p
        LEFT JOIN
        (
            SELECT dict_key, dict_value FROM base_dict_detail
            WHERE dict_code =
            (
                SELECT dict_code FROM base_dict
                WHERE dict_code_name = "镜头编码类型"
            )
        ) e
        ON e.dict_key = p.shot_encode
        LEFT JOIN
        (
            SELECT dict_key, dict_value FROM base_dict_detail
            WHERE dict_code =
            (
                SELECT dict_code FROM base_dict
                WHERE dict_code_name = "镜头解码类型"
            )
        ) d
        ON d.dict_key = p.shot_decode
        LEFT JOIN
        (
            SELECT dict_key, dict_value FROM base_dict_detail
            WHERE dict_code =
            (
                SELECT dict_code FROM base_dict
                WHERE dict_code_name = "镜头类型"
            )
        ) c
        ON c.dict_key = p.shot_type
    </select>

</mapper>