<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wxiaoqi.security.admin.mapper.LossBindLogMapper" >
  <resultMap id="BaseResultMap" type="com.biocome.platform.basemanager.entity.LossBindLog" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tenant_name" property="tenantName" jdbcType="VARCHAR" />
    <result column="physicalcard_no" property="physicalcardNo" jdbcType="VARCHAR" />
    <result column="logicalcard_no" property="logicalcardNo" jdbcType="VARCHAR" />
    <result column="cancelcard_no" property="cancelcardNo" jdbcType="VARCHAR" />
    <result column="opt_type" property="optType" jdbcType="VARCHAR" />
    <result column="opt_name" property="optName" jdbcType="VARCHAR" />
    <result column="opt_time" property="optTime" jdbcType="DATE" />
  </resultMap>
  <select id="selectByAttribute" resultMap="BaseResultMap">
    SELECT
      l.id,l.tenant_name,l.physicalcard_no,l.logicalcard_no,l.cancelcard_no,l.opt_Type,l.opt_name,l.opt_time
    FROM
    lossbind_log l
    WHERE
      l.id is not null
      <if test="physicalcardNo != null and physicalcardNo.trim() != ''">and
          l.physicalcard_no like concat(concat('%',
          #{physicalcardNo,jdbcType=VARCHAR}), '%')
      </if>
      <if test="optName != null and optName.trim() != ''">and
          l.opt_name like concat(concat('%',
          #{optName,jdbcType=VARCHAR}), '%')
      </if>
      <if test="cancelcardNo != null and cancelcardNo.trim() != ''">and
          l.cancelcard_no like concat(concat('%',
          #{cancelcardNo,jdbcType=VARCHAR}), '%')
      </if>
    ORDER BY
    l.opt_time DESC
  </select>
</mapper>
