<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biocome.platform.wechatapplet.mapper.AppUserMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.biocome.platform.wechatapplet.entity.AppUser" id="appUserMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="usercode" column="usercode"/>
        <result property="iscomplete" column="iscomplete"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
        <result property="createUser" column="create_user"/>
        <result property="loginTime" column="login_time"/>
        <result property="loginIp" column="login_ip"/>
    </resultMap>

    <update id="updateIsComplete">
        update app_user
        set iscomplete = 0
        where usercode = #{usercode}
    </update>

    <select id="detail" resultType="com.biocome.platform.inter.gateguard.vo.user.AppUserVo">
        select a.username, a.usercode, a.iscomplete
        from app_user a
		left join base_lessee l
        on a.usercode = l.usercode
        where a.username = #{username}
    </select>
</mapper>