<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wxiaoqi.security.admin.mapper.TreeVideoMapper">
    <resultMap id="BaseResultMap" type="com.github.wxiaoqi.security.admin.vo.tree.TreeVideoVO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="sortno" jdbcType="INTEGER" property="sortno"/>
        <result column="fullname" jdbcType="VARCHAR" property="fullname"/>
        <result column="parentcode" jdbcType="VARCHAR" property="parentcode"/>
        <result column="countlivevideo" jdbcType="VARCHAR" property="countlivevideo"/>
        <result column="countcamera" jdbcType="VARCHAR" property="countcamera"/>
    </resultMap>

    <!--查询对应的行政区划代码-->
    <select id="selectTreeVideo" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        d.id,d.code,d.name,d.type,d.sortno,d.fullname,d.parentcode,
        (select count(1) from base_camera b
          <where>
            <if test="type == null">
                and (b.province = d.code or b.city = d.code or b.county = d.code or b.street = d.code or b.policestatio
                = d.code)
            </if>
            <if test="type == 1">
                and b.province = #{parentcode,jdbcType=VARCHAR}
            </if>
            <if test="type == 2">
                and b.city = #{parentcode,jdbcType=VARCHAR}
            </if>
            <if test="type == 3">
                and b.county =  #{parentcode,jdbcType=VARCHAR}
            </if>
            <if test="type == 4">
                and b.street =  #{parentcode,jdbcType=VARCHAR}
            </if>
            <if test="type == 5">
                and b.policestatio =  #{parentcode,jdbcType=VARCHAR}
            </if>
            and b.status = 1
          </where>
            ) as countlivevideo,
        (select count(1) from base_camera b
        <where>
            <if test="type == null">
                and (b.province = d.code or b.city = d.code or b.county = d.code or b.street = d.code or b.policestatio
                = d.code )
            </if>
            <if test="type == 1">
                and b.province =  #{parentcode,jdbcType=VARCHAR}
            </if>
            <if test="type == 2">
                and b.city =  #{parentcode,jdbcType=VARCHAR}
            </if>
            <if test="type == 3">
                and b.county =  #{parentcode,jdbcType=VARCHAR}
            </if>
            <if test="type == 4">
                and b.street =  #{parentcode,jdbcType=VARCHAR}
            </if>
            <if test="type == 5">
                and b.policestatio =  #{parentcode,jdbcType=VARCHAR}
            </if>
        </where>
        ) as countcamera
        FROM
        base_district d
        where d.parentcode = #{parentcode,jdbcType=VARCHAR}
    </select>

    <select id="selectAnotherTreeVideo" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        d.id,d.code,d.name,d.type,d.sortno,d.fullname,d.parentcode,
        (select count(1) from base_camera b
        <where>
            <if test="type == 1">
                and b.province = #{code,jdbcType=VARCHAR}
            </if>
            <if test="type == 2">
                and b.city = #{code,jdbcType=VARCHAR}
            </if>
            <if test="type == 3">
                and b.county =  #{code,jdbcType=VARCHAR}
            </if>
            <if test="type == 4">
                and b.street =  #{code,jdbcType=VARCHAR}
            </if>
            <if test="type == 5">
                and b.policestatio =  #{code,jdbcType=VARCHAR}
            </if>
            and b.status = 1
        </where>
        ) as countlivevideo,
        (select count(1) from base_camera b
        <where>
            <if test="type == 1">
                and b.province =  #{code,jdbcType=VARCHAR}
            </if>
            <if test="type == 2">
                and b.city =  #{code,jdbcType=VARCHAR}
            </if>
            <if test="type == 3">
                and b.county =  #{code,jdbcType=VARCHAR}
            </if>
            <if test="type == 4">
                and b.street =  #{code,jdbcType=VARCHAR}
            </if>
            <if test="type == 5">
                and b.policestatio =  #{code,jdbcType=VARCHAR}
            </if>
        </where>
        ) as countcamera
        FROM
        base_district d
        where d.code = #{code,jdbcType=VARCHAR}
    </select>




</mapper>