<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biocome.platform.inter.basemanager.mapper.DeviceMapper">
    <resultMap id="BaseResultMap" type="com.biocome.platform.inter.basemanager.entity.Device">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="estatecode" jdbcType="VARCHAR" property="estatecode"/>
        <result column="buildcode" jdbcType="VARCHAR" property="buildcode"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="device_type" jdbcType="VARCHAR" property="deviceType"/>
        <result column="brand" jdbcType="VARCHAR" property="brand"/>
        <result column="secretkey" jdbcType="VARCHAR" property="secretkey"/>
        <result column="mac" jdbcType="VARCHAR" property="mac"/>
        <result column="series_number" jdbcType="VARCHAR" property="seriesNumber"/>
        <result column="c_number1" jdbcType="VARCHAR" property="camera1"/>
        <result column="c_number2" jdbcType="VARCHAR" property="camera2"/>
        <result column="c_number3" jdbcType="VARCHAR" property="camera3"/>
        <result column="buildname" jdbcType="VARCHAR" property="buildName"/>
        <result column="estatename" jdbcType="VARCHAR" property="estateName"/>
    </resultMap>

    <resultMap id="BaseResultMapForWeb" type="com.biocome.platform.inter.basemanager.vo.device.DeviceInfoResp">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="estatecode" jdbcType="VARCHAR" property="estatecode"/>
        <result column="buildcode" jdbcType="VARCHAR" property="buildcode"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="device_type" jdbcType="VARCHAR" property="deviceType"/>
        <result column="brand" jdbcType="VARCHAR" property="brand"/>
        <result column="buildname" jdbcType="VARCHAR" property="buildName"/>
        <result column="estatename" jdbcType="VARCHAR" property="estateName"/>
    </resultMap>

    <select id="selectByAdditionForList" resultMap="BaseResultMapForWeb">
        SELECT
        bd.id,
        bd.sn,
        bd.device_name,
        bd.estatecode,
        bd.buildcode,
        bd.ip,
        bd.device_type,
        bbrand.brandname brand,
        bb.buildname,
        be.estatename
        FROM
        base_device bd
        LEFT JOIN
        base_build bb ON bd.buildcode = bb.buildcode
        LEFT JOIN
        base_estate be ON bd.estatecode = be.estatecode
        LEFT JOIN
        base_brand bbrand ON bd.brand = bbrand.brandcode
        <where>
            1=1
            <if test="deviceName != null and '' != deviceName">and bd.device_name = #{deviceName,jdbcType=VARCHAR}</if>
            <if test="sn != null and '' != sn">and bd.sn = #{sn,jdbcType=VARCHAR}</if>
            <if test="brand != null and '' != brand">and bd.brand = #{brand,jdbcType=VARCHAR}</if>
            <if test="estatecode != null and '' != estatecode">and bd.estatecode = #{estatecode,jdbcType=VARCHAR}</if>
            <if test="id != null and '' != id">and bd.id = #{id,jdbcType=INTEGER}</if>
        </where>
    </select>

    <select id="selectByDevice" resultMap="DeviceInfoRespMap"
            parameterType="com.biocome.platform.inter.basemanager.entity.Device">
        SELECT
        d.id,
        d.sn,
        d.device_name,
        d.estatecode,
        d.buildcode,
        d.ip,
        d.device_type,
        d.brand brandcode,
        bd.dict_value brand,
        d.mac,
        d.series_number
        FROM
        base_device d
        LEFT JOIN
        base_dict_detail bd ON bd.dict_key = d.brand
        WHERE
        bd.dict_code = #{device.dictCode,jdbcType=INTEGER}
        <if test="device.id != null and '' != device.id">and d.id= #{device.id,jdbcType=INTEGER}</if>
        <if test="device.sn != null and '' != device.sn">and d.sn= #{device.sn,jdbcType=VARCHAR}</if>
        <if test="device.deviceName != null and '' != device.deviceName">and d.device_name=
            #{device.deviceName,jdbcType=VARCHAR}
        </if>
        <if test="device.estatecode != null and '' != device.estatecode">and d.estatecode=
            #{device.estatecode,jdbcType=VARCHAR}
        </if>
        <if test="device.buildcode != null and '' != device.buildcode">and d.buildcode=
            #{device.buildcode,jdbcType=VARCHAR}
        </if>
        <if test="device.ip != null and '' != device.ip">and d.ip= #{device.ip,jdbcType=VARCHAR}</if>
    </select>

    <delete id="deleteDevice" parameterType="java.util.List">
        delete from base_device where 1>2
        or id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="selectByVo" resultMap="DeviceVoMap"
            parameterType="com.biocome.platform.inter.basemanager.vo.syncho.BuildAndBrandVo">
        SELECT
        d.sn,
        d.device_name,
        d.device_type,
        d.secretkey,
        d.ip,
        d.estatecode,
        d.buildcode,
        d.unitcode
        FROM
        base_device d,
        base_build b
        WHERE
        d.buildcode = b.buildcode
        AND d.brand = #{vo.brand,jdbcType=VARCHAR}
        <if test="vo.province != null and vo.province.trim() != ''">
            AND b.province = #{vo.province,jdbcType=VARCHAR}
        </if>
        <if test="vo.city != null and vo.city.trim() != ''">
            AND b.city = #{vo.city,jdbcType=VARCHAR}
        </if>
        <if test="vo.county != null and vo.county.trim() != ''">
            AND b.county = #{vo.county,jdbcType=VARCHAR}
        </if>
        <if test="vo.street != null and vo.street.trim() != ''">
            AND b.street = #{vo.street,jdbcType=VARCHAR}
        </if>
        <if test="vo.policestatio != null and vo.policestatio.trim() != ''">
            AND b.policestatio = #{vo.policestatio,jdbcType=VARCHAR}
        </if>
        <if test="vo.estatecode != null and vo.estatecode.trim() != ''">
            AND b.estatecode = #{vo.estatecode,jdbcType=VARCHAR}
        </if>
        <if test="vo.buildcode != null and vo.buildcode.trim() != ''">
            AND b.buildcode = #{vo.buildcode,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectSnByBuildCode" resultType="com.biocome.platform.inter.basemanager.vo.card.CardSnVo">
        SELECT sn FROM base_device where buildcode = #{buildcode,jdbcType=VARCHAR}
    </select>
    <update id="updateBySnAndIp" parameterType="com.biocome.platform.inter.basemanager.entity.Device">
        update base_device
        SET mac = #{device.mac,jdbcType=VARCHAR},
            series_number = #{device.seriesNumber,jdbcType=VARCHAR}
            where sn = #{device.sn,jdbcType=VARCHAR} and ip = #{device.ip,jdbcType=VARCHAR}
    </update>

    <select id="selectSnByBuildCodes" resultType="com.biocome.platform.inter.basemanager.vo.card.CardSnVo">
        SELECT sn FROM base_device WHERE buildcode
        IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>

    <select id="selectSnAndCardByBuildCodes" resultMap="BaseResultMap">
        SELECT sn ,brand FROM base_device WHERE buildcode
        IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>
</mapper>