<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biocome.platform.wechatapplet.mapper.FaultMapper">


    <resultMap id="BaseResultMap" type="com.biocome.platform.wechatapplet.entity.Fault">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="building" jdbcType="VARCHAR" property="building"/>
        <result column="access_device" jdbcType="VARCHAR" property="accessdevice"/>
        <result column="declaration_type" jdbcType="VARCHAR" property="declarationtype"/>
        <result column="detail_description" jdbcType="VARCHAR" property="detaildescription"/>
    </resultMap>


</mapper>