<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biocome.platform.wechatapplet.mapper.UserDetailMapper">

    <update id="updateSelectiveById" parameterType="com.biocome.platform.wechatapplet.vo.userdetail.CompleteVo">
        UPDATE base_lessee
        <set>
            <if test="vo.tel != null and vo.tel != ''">tel = #{vo.tel,jdbcType=VARCHAR},</if>
            <if test="vo.phonemodel != null and vo.phonemodel != ''">phonemodel = #{vo.phonemodel,jdbcType=VARCHAR},</if>
            <if test="vo.domiciletype != null and vo.domiciletype != ''">domiciletype = #{vo.domiciletype,jdbcType=INTEGER},</if>
            <if test="vo.maritalstatus != null and vo.maritalstatus != ''">maritalstatus = #{vo.maritalstatus,jdbcType=INTEGER},</if>
            <if test="vo.culture != null and vo.culture != ''">culture = #{vo.culture,jdbcType=INTEGER},</if>
            <if test="vo.occupation != null and vo.occupation != ''">occupation = #{vo.occupation,jdbcType=INTEGER},</if>
            <if test="vo.emergencyname != null and vo.emergencyname != ''">emergencyname = #{vo.emergencyname,jdbcType=VARCHAR},</if>
            <if test="vo.emergencytel != null and vo.emergencytel != ''">emergencytel = #{vo.emergencytel,jdbcType=VARCHAR},</if>
            <if test="vo.workunit != null and vo.workunit != ''">workunit = #{vo.workunit,jdbcType=VARCHAR},</if>
            <if test="vo.reason != null and vo.reason != ''">reason = #{vo.reason,jdbcType=INTEGER},</if>
            <if test="vo.relation != null and vo.relation != ''">relation = #{vo.relation,jdbcType=INTEGER},</if>
            <if test="vo.high != null and vo.high != ''">high = #{vo.high,jdbcType=VARCHAR},</if>
            <if test="vo.politicsstatus != null and vo.politicsstatus != ''">politicsstatus = #{vo.politicsstatus,jdbcType=INTEGER},</if>
            <if test="vo.residentmanner != null and vo.residentmanner != ''">residentmanner = #{vo.residentmanner,jdbcType=INTEGER},</if>
            <if test="vo.firsttime != null and vo.firsttime != ''">firsttime = #{vo.firsttime,jdbcType=TIMESTAMP},</if>
            <if test="vo.sfgzbljzz != null and vo.sfgzbljzz != ''">sfgzbljzz = #{vo.sfgzbljzz,jdbcType=INTEGER},</if>
            <if test="vo.sfgzdzgx != null and vo.sfgzdzgx != ''">sfgzdzgx = #{vo.sfgzdzgx,jdbcType=INTEGER},</if>
            <if test="vo.fertility != null and vo.fertility != ''">fertility = #{vo.fertility,jdbcType=INTEGER},</if>
            <if test="vo.birthcontrol != null and vo.birthcontrol != ''">birthcontrol = #{vo.birthcontrol,jdbcType=INTEGER},</if>
            <if test="vo.iscard != null and vo.iscard != ''">iscard = #{vo.iscard,jdbcType=INTEGER},</if>
        </set>
        WHERE usercode = #{vo.usercode,jdbcType=VARCHAR}
    </update>

</mapper>